<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>
= @name


- if @user == current_user
    = link_to 'Edit Profile', edit_profile_path(@user.id)
    
.posts-wrapper
    .row.profile-header
        .col-md-6
            .img-circle
                = profile_avatar_select(@user)
        .col-md-6
            .user-name-and-follow
                %h3.profile-user-name
                    = @user.id
                %span
                    - if @user == current_user
                        = link_to 'Edit Profile', edit_profile_path(@user.id), class: 'btn edit-button'
            %p.profile-bio
                = @user.bio