-if flash[:notice]
  %p.alert#red
    =flash[:notice]
%table#users
  %thead
    %tr
    %th First Name 
    %th Last Name 
    %th Email 
    %th Admin?
    %th Approved?
    %th 
  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name
        %td= user.last_name
        %td= user.email 
        %td= user.admin
        %td= user.approved
        %td= link_to 'EDIT', edit_admin_path(user)
        
%br= link_to "Admin Index", adminhome_path
%br= link_to 'sign out', destroy_user_session_path, :method => :delete, :action => :destroy
