
%table#users
  %thead
    %tr
    %th First Name 
    %th Last Name 
    %th Email 
    %th Admin?
    %th Approved?
  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name 
        %td= user.last_name
        %td= user.email 
        %td= user.admin
        %td= user.approved
        
%br= link_to 'Approve New Users', authorize_path
%br= link_to "Admin Index", admin_index_path
%br= link_to 'sign out', destroy_user_session_path, :method => :delete, :action => :destroy
