<% if !@repage.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <!--<% @repage.errors.full_messages.each do |msg| %>-->
         <!--   <li><%= msg %></li>-->
         <!--<% end %>-->
          <li>Description cannot be blank</li>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @repage, html: { multipart: true } do |f| %>
      <%= f.label :description %>
      <%= f.text_field :name, id: "desc"%>
      <%= f.label :attachment %>
      <%= f.file_field :attachment, id: "attach" %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>
