<% if !@repage.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <!--<% @repage.errors.full_messages.each do |msg| %>-->
         <!--   <li><%= msg %></li>-->
         <!--<% end %>-->
          <li>Description cannot be blank</li>
      </ul>
      
   </div>
<% end %>
<div class="row" id="header">
  <div class="small-6 columns margT">
    <a class="header-text">upload resource</a>
  </div>
  <div class="small-6 columns right-align marB">
    <a class="header-icon" href="<%= repages_path %>">
      <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
      back to resources
    </a>
  </div>
  <hr/>
</div>

<div class = "well">
   <%= form_for @repage, html: { multipart: true } do |f| %>
      <%= f.label :description%>
      <%= f.text_field :name, id: "desc", :required => 'true' %>
      <%= f.label :attachment %>
      <br/>
      <%= f.file_field :attachment, id: "attach"%>
      <div class="large-12 columns right-align">
         <%= f.submit "Save", class: "button large"%>
      </div>
   <% end %>
</div>
