<!--<html>-->
<!--<head>-->
<!--    <title>Welcome | Log In</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div class="login-panel">-->
<!--        <div class="row">-->
<!--            <div class="small-12 columns"><h3>Sign In</h3></div>-->
<!--        </div> -->
<!--        <h1 @username</h1>-->
<!--        <h1 @password</h1>-->
<!--        <form action="/" method="get" id="form1">-->
<!--            <div class="row">-->
<!--                <div class="large-12 columns">-->
<!--                <input type="text" placeholder="Username" />-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="large-12 columns">-->
<!--                <input type="password" placeholder="Password" />-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--        <div class="row">-->
<!--            <div class="large-12 columns right-align">-->
<!--                <button type="submit" form="form1" value="Submit" class="button large">Submit</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div> -->
<!--</body>-->
<!--</html>-->

    <!--<% if signed_in? %>-->
    <!--  Signed in as: <%= current_user.email %>-->
    <!--  <%= button_to 'Sign out', sign_out_path, method: :delete %>-->
    <!--<% else %>-->
    <!--  <%= link_to 'Sign in', sign_in_path %>-->
    <!--<% end %>-->

    <!--<div id="flash">-->
    <!--  <% flash.each do |key, value| %>-->
    <!--    <div class="flash <%= key %>"><%= value %></div>-->
    <!--  <% end %>-->
    <!--</div>-->


