<html>
<head>
    <title>Welcome!</title>
</head>
<body>
    <br/>
<% if flash[:alert] %>
    <div class="callout alert" data-closable>
        <%= flash[:alert] %>
    </div>
<% end %>
<% if flash[:notice] %>
    <div class="callout success" data-closable>
        <%= flash[:notice] %>
    </div>
<% end %>

<div class="center">
    <div class="row">
        <a href=<%=posts_path%> class="button large welcome">Check out our Forum!</a>
    </div>
</div>

<div class="login-panel">
    <div class="center">
        <div class="row">
            <div class="small-12 columns"><h3>Welcome to the ITPH Community!</h3></div>
        </div>
    
        <div class="row">
            <div class="large-12 columns" id="in_box_align">
                <a href=<%=new_user_session_path%> class="button large welcome">Login</a>
                <a href=<%=new_user_registration_path %> id="button-cap", class="button large welcome">Sign Up</a>
            </div>
        </div>

    </div>

</div>

</body>
        
</html>