-if flash[:alert]
  %p.alert#red
    =flash[:alert]
      
%h1 Welcome to the ITPH Community!

#posts
  .post.title
    %h3.title ITPH Community Announcements!
  - @posts.each do |post|
    .row.post
      %h2.title= link_to post.title, post
      %p.message
        = post.content
      %p.date
        Published at
        = time_ago_in_words(post.created_at)
        by
        = post.user.email
        
%p= link_to 'sign out', destroy_user_session_path, :method => :delete, :action => :destroy
%p= link_to 'admin?', adminhome_path
:javascript
  $(document).foundation();
