.res
    - if !flash[:notice].blank?
        .alert.alert-info
        = flash[:notice]
    %br/
    
    = link_to "New File", new_resource_path, class: "btn btn-primary"
    %br/
    %br/
    
    %table.table.table-bordered.table-striped
        %thead
            \.
            %tr
                %th Description
                %th Download Link
                %th
        %tbody
            - @resources.each do |res|
                %tr
                    %td= res.name
                    %td= link_to "Download File", res.attachment_url
                    %td= button_to "Delete",  res, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{@resources.name}?"
