= simple_form_for @post do |f|
    = simple_form_for([@post, @post.comments.build]) do |f|
        = f.input :comment, required: "true"
        = f.text_field :all_tags, placeholder: "Tags separated with comma"
        = f.submit class: "button"
