= simple_form_for @post do |f|
    = f.input :title, required: "true"
    = f.text_field :all_tags, placeholder: "Tags separated with comma"
    = f.input :content, required: "true"
    .right-align
        = f.submit class: "button"