%head
    %title Forum
    %link{rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Lato:300,400,700", type: "text/css"}
    %link{rel: "stylesheet", href: "http://cdnjscloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}/
    %script{:src => "https://use.fontawesome.com/647f706861.js"}
    = tinymce_assets
%body
    #forum-container
        .row#header
            .small-6.columns.margT
                %a.header-text{:href => posts_path} forum
            .small-6.columns.right-align.marB
                - if current_user
                    %a.header-icon{"href" => "#", id: "yourButton"}
                        %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                        new post
                - else
                    %a.header-text{:href => root_path} sign up
            %hr/
        
    
        .wrapper
        =yield
        %div#my_form
            = render 'form'
        
        .row#header
            %p
                Sort by:
                = link_to "All", posts_path(:all => 'all')
                = link_to "Title", posts_path(:sort => "lower(title)") 
                = link_to "Date", posts_path(:sort => "created_at DESC")
                %select#title-search{:style => "width: 25%"}
                    %option
                    - @posts.each do |post|
                        %option{:value => "#{post.title}"} 
                            = post.title
            %p
                Tags:
                = link_to "All", posts_path(:all => 'all')
                %select#tag-search{:style => "width: 25%"}
                    %option
                    - @tags.each do |tag|
                        %option{:value => "#{tag}"} 
                            = tag.name
                %hr
                
        %div#posts
            #messages{remote: true} 
            - @posts.each do |post|
                .post
                    .row
                        .small-6.columns
                            %h2.title
                                = link_to post.title, post
                            %p.message
                                = post.description
                        %p.right-align.small-6.columns
                            %a{:href => profile_path(post.user_id)}
                                %img= image_tag User.find(post.user_id).avatar.url(:thumb), :class => 'prof-icon-forum'
                    .row
                        .small-6.columns           
                            %p.tag.marL
                                /= = raw post.all_tags (seems redundant, keeping next line in favor)
                                = raw tag_links(post.all_tags)
                        .small-6.columns.right-align
                            %p.date.marR{:align => "right"}
                                Published at
                                = time_ago_in_words(post.created_at)
                                ago by
                                %a
                                    =link_to post.user.username, profile_path(post.user.id)

            =will_paginate @posts
%br
%br

= tinymce

:coffeescript
    $ ->
    
        $tag_event = $("#tag-search")
        
        $title_event = $("#title-search")
    
        $(document).ready ->
            $('#title-search').select2 placeholder: 'Search by title'
            $('#tag-search').select2 placeholder: 'Search by tag'
            return
            
            
        $title_event.on 'select2:select', (e) ->
            title_name = e.params.data.text.trim()
            $('#title_link').href = title_name
            location.href = "/posts/title/" + title_name;
            return
            
        $tag_event.on 'select2:select', (e) ->
            tag_name = e.params.data.text.trim()
            $('#tag_link').href = tag_name
            location.href = "/posts/tag/" +tag_name;
            return
            
        # $tag_event.on 'select2:select', (e) ->
            # tag_name = e.params.data.text.trim()
            # params = '{"tag":' + tag_name +'}'
            # $.get '/tags/' + tag_name, params, (data) ->
                # alert data, "SUCCESS"
                # return
                
        # $tag_event.on 'select2:select', (e) ->
            # console.log "MADE IT IN"
            # tag_name = e.params.data.text.trim()
            # console.log '/tags/' + tag_name
            # $.ajax
                # type: 'GET'
                # url: '/tags/' + tag_name
                # data: JSON.stringify(tag: tag_name)
                # contentType: 'application/json'
                # dataType: 'json'
                # success: (data) ->
                    # console.log "SUCCESS", data
                    # return
                # error: (error) ->
                    # console.log "ERROR"
                    # location.reload()
                    # return
            # return
