
#forum-container
    #post_content
        %h1= @post.title
        %p= @post.content
        %p.right-align
            = @post.comments.count 
            COMMENTS
            
    %hr/
    #comments
        = render @post.comments
        
        %h3 Reply to thread
        = render "comments/form"
    

    = link_to "Edit", edit_post_path(@post)
    = link_to "Delete", post_path(@post), method: :delete, data: { confirm:  "Are you sure"}
    = link_to "Forum", posts_path 