%head
    %title Forum
    %link{rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Lato:300,400,700", type: "text/css"}
    %link{rel: "stylesheet", href: "http://cdnjscloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}/
    %script{:src => "https://use.fontawesome.com/647f706861.js"}
    
%body
    #forum-container
        .row#header
            .small-6.columns.margT
                %a.header-text{:href => posts_path} forum
            - if current_user.nil?
                .small-6.columns.right-align.marB
                    %a.header-text{:href => posts_path} sign up
            %hr/
        

    
        .wrapper
        =yield
        #post_content
            .row
                .small-6.columns
                    %h1= @post.title
                .small-6.columns.right-align.marB
                    - if @post.public
                        #public This post is public!
            .row
                .small-12.columns
                    %p= @post.content.html_safe
                    
                    .small-6.columns
                        - if current_user
                            - if current_user.id == @post.user_id || current_user.admin
                                = link_to "Edit", edit_post_path(@post), class: "button1"
                                &nbsp&nbsp
                                = link_to "Delete", post_path(@post), method: :delete, data: { confirm:  "Are you sure"}, class: "button1"
                    .small-6.columns
                        %p.right-align
                            %a{:href => profile_path(@post.user_id)}
                                %img= image_tag User.find(@post.user_id).avatar.url(:thumb), :class => 'prof-icon-forum'
                        .date.right-align
                            published at
                            = time_ago_in_words(@post.created_at)
                            ago by&nbsp  
                            = link_to @post.user.username, profile_path(@post.user.id)
                        %br
                %hr/ 
            - if current_user
                .row
                    .right-align
                        = @post.comments.count
                        Comment(s) &nbsp&nbsp 
                    %hr/
                #comments
                    = render @post.comments
                    
                    %a.header-icon{"href" => "#/", id: "yourButton"}
                        %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                        leave a comment
                %br
                            
                    %div#my_form.down_click
                        = render "comments/form"
                    
                    %div.bottom_page
            