= form_for Goal.new, url: profile_index_path(@user, @goal) do |f|
  .goalsForm
    = label_tag 'Task'
    = f.text_field :title, required: 'true', placeholder: "Write your long term task here"
    .stepForm
    .row
      .small-6.columns
        = label_tag 'goal'
        = f.text_field :step1, required: 'true', placeholder: "A goal to complete your task"
      .small-6.columns  
        // %a.removeNewStep x
        
    .stepForm
    .row
      .small-6.columns
        = label_tag 'goal'
        = f.text_field :step2, placeholder: "A goal to complete your task"
      .small-6.columns  
        // %a.removeNewStep x
    .stepForm
    .row
      .small-6.columns
        = label_tag 'goal'
        = f.text_field :step3, placeholder: "A goal to complete your task"
      .small-6.columns  
        // %a.removeNewStep x
    .right-align
      = f.submit 'Submit', class: "button"