.row#header
    .small-6.columns.margT
        %a.header-text{:href => posts_path}
            = @name
    .small-6.columns.right-align.marB
        - if current_user.id == @user.id
            %a.header-icon{"href" => "#", id: "yourButton"}
                %i.fa.fa-sliders{"aria-hidden" => "true"}
                edit
    %hr/
// .row
//     = render 'profile_upload'
// .row
//     = image_tag @user.avatar.url(:medium)

- if @goal.nil? || @goal.graduation
    .row#header
        .large-10.columns
        - if current_user.id == @user.id
            Looks like you haven't set a new goal yet. 
            - if !@goal.nil?
                - if @goal.graduation
                    = link_to 'Would you like to make a new goal again?', new_profile_path(@user.id)
            - else
                = link_to 'Would you like to set a new goal?', new_profile_path(@user.id)
        - else
            Looks like #{@user.first_name} hasn't set a new goal yet!
        .large-2.columns
            - if current_user.id == @user.id
                .edit-badge
                    %i.fa.fa-pencil{"aria-hidden" => "true"}
            = image_tag @user.avatar.url(:medium), :class => "prof-icon"
            - if current_user.id == @user.id
                = render 'profile_upload'
- else
    .row#header.pushDown
        .large-10.columns
            - if current_user.id == @user.id
                %h5 My Task
            -else
                %h5 #{@user.first_name}'s goal
            - @goals.each.with_index do |g, i|
                - if !g.graduation
                    %p.tab 
                        = g.title
                    %h6 Goals to complete my task
                    %ol.tabList
                        %li
                            = g.step1
                        %li
                            = g.step2
                        %li
                            = g.step3
                            
                    - if current_user.id == @user.id
                        - if !g.graduation
                            = link_to "Graduate From This Task", profile_flop_path(index: i, profile_id: @user.id), :class => "button limegreen expanded"
        .large-2.columns
            - if current_user.id == @user.id
                .edit-badge
                    %i.fa.fa-pencil{"aria-hidden" => "true"}
            = image_tag @user.avatar.url(:medium), :class => "prof-icon"
            - if current_user.id == @user.id
                = render 'profile_upload'
    
                
.row#header.graduated
    .large-12.columns
        - if current_user.id == @user.id
            %h5 My Completed Tasks
        -else
            %h5 #{@user.first_name}'s Completed Tasks
        #badgeList
            - @goals.each do |g|
                -if g.graduation
                    %h6 
                        = g.title
                    %ol.tabList
                        %li
                            = g.step1
                        %li
                            = g.step2
                        %li
                            = g.step3
        .alt.hide
            - if current_user.id == @user.id
                %p You haven't finished any tasks, yet! Let's change that.
            - else
                %p Looks like #{@user.first_name} hasn't completed any tasks yet.
    
.right-align
    = link_to 'Would you like to set a new goal?', new_profile_path(@user.id)

:javascript
    $(document).ready(function() {
        $('body').addClass('friendly2');
        
        $('#user_avatar').click(function(){
            $("#save-button").css("display", "block");
            $("#save-button").css("opacity", "1");
        });
        
        
        var check = function(){
            if( !($('#badgeList').text().length > 1 )) {
                console.log("empty");
                $('.alt').removeClass('hide');
            }
            else {
                $('.alt').addClass('hide');
                setTimeout(check, 1000); // check again in a second
            }
        }
        
        check();
    });
