.row#header
    .small-6.columns.margT
        %a.header-text{:href => posts_path}
            = @name
    .small-6.columns.right-align.marB
        - if current_user
            %a.header-icon{"href" => "#", id: "yourButton"}
                %i.fa.fa-sliders{"aria-hidden" => "true"}
                edit
    %hr/
- if @goal.nil?
    .row#header
        Looks like you haven't set a new goal yet. 
        = link_to 'Would you like to set a new goal?', new_profile_path(@user.id)
- else
    .row#header.centerContent
        %h5 My Goal
        %p.tab 
            = @goal.title
        %h6 Steps to reach my goal
        %ol.tabList
            %li
                = @goal.step1
            %li
                = @goal.step2
            %li
                = @goal.step3
            %li
                = @goal.step4
            %li
                = @goal.step5
            %li
                = @goal.step6
            %li
                = @goal.step7
            %li
                = @goal.step8
            %li
                = @goal.step9
            %li
                = @goal.step10
        .right-align
            = link_to 'Would you like to set a new goal?', new_profile_path(@user.id)
:javascript
$(document).ready(function() {
    $('body').addClass('friendly2');
});