.row#header
    .small-6.columns.margT
        %a.header-text{:href => posts_path}
            // = @name
            - if current_user.id != @user.id
                profile for 
            = @name
    .small-6.columns.right-align.marB
        - if current_user.id == @user.id
            %a.header-icon{"href" => edit_profile_path(), id: "yourButton"}
                %i.fa.fa-sliders{"aria-hidden" => "true"}
                edit
    %hr/

- if @goal.nil?
    .row#header
        Looks like you haven't set a new goal yet. 
        = link_to 'Would you like to set a new goal?', new_profile_path(@user.id)
- else
    .row#header.centerContent
        .small-6.columns
            %h5 Task
            %p.tab 
                = @goal.title
            %h6 My Goals to Complete my Task
            %ol.tabList
                %li
                    = @goal.step1
                %li
                    = @goal.step2
                %li
                    = @goal.step3
        .small-6.columns.right-align
            = big_avatar_for(@user)
    .row
        .small-12-columns
            %hr/
            BADGE
            %hr/
    .right-align
        = link_to 'Would you like to set a new goal?', new_profile_path(@user.id)

:javascript
    $(document).ready(function() {
        $('body').addClass('friendly2');
    });


